Importing the Pandas library

In [ ]:
import pandas as pd

Let's imagine you have a Series containing daily sales data as defined below:

In [ ]:
sales_data = pd.Series(
    [3000, 4500, 2000, 6500, 7000, 3000, 1500],  # sales in rupees
    index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
    name = 'Daily_Sales'
)
sales_data

How can we identify dates when the total sales prices were 5000 or more?

In [ ]:
sales_data > 5000

In [ ]:
sales_data[sales_data > 5000]

**Note:** In Pandas, `&` is used instead of `and` to perform the AND operation, signifying element-wise logical operations on multiple elements rather than on single booleans. Furthermore, parantheses are necessary while chaining multiple logical operations in Pandas.

In [ ]:
# sales_data > 5000 and sales_data < 6800

In [ ]:
# (sales_data > 5000) & (sales_data < 6800)

In [ ]:
sales_data[(sales_data > 5000) & (sales_data < 6800)]

How can we find the dates where the sales value was less than the average sales value across our dataset?

In [ ]:
average_sales = sales_data.mean()
sales_data[sales_data < average_sales]

In [ ]:
sales_data[sales_data < sales_data.mean()]

How can we find sales over the weekend (Saturday and Sunday)?

In [ ]:
sales_data

In [ ]:
sales_data.index.isin(['Sat', 'Sun'])

In [ ]:
sales_data[sales_data.index.isin(['Sat', 'Sun'])]

How can we identify days where the sales are less than ₹4000 on weekdays?

Again, `~` is used instead of `not` to perform the NOT operation, and we need to use parentheses.

In [ ]:
sales_data[(sales_data < 4000) & (~sales_data.index.isin(['Sat', 'Sun']))]

Let's highlight days with a sharp drop in sales. Consider a sharp drop to occur when the sales in a day are less than ₹2000 or more than on the previous.

**Note:** You can use the `.shift()` method on a Series to shift the values by a certain number of places. Effectively, this can allow us to compare older or newer values to the current value.

In [ ]:
sales_data

In [ ]:
sales_data.shift(1)  # shifts 1 to the right

In [ ]:
sales_data.shift(-1)  # shifts 1 to the left

In [ ]:
sales_data.shift(2)  # shifts 2 to the right

In [ ]:
sales_data.shift(1) - sales_data

In [ ]:
sales_data[(sales_data.shift(1) - sales_data) > 2000]