In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('matches_data.csv')
df

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019 entries, 0 to 1018
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1019 non-null   int64
 1   season           1019 non-null   object
 2   city             1019 non-null   object
 3   date             1019 non-null   object
 4   match_type       1019 non-null   object
 5   player_of_match  1019 non-null   object
 6   venue            1019 non-null   object
 7   team1            1019 non-null   object
 8   team2            1019 non-null   object
 9   toss_winner      1019 non-null   object
 10  toss_decision    1019 non-null   object
 11  winner           1019 non-null   object
 12  result           1019 non-null   object
 13  result_margin    1019 non-null   int64
 14  target_runs      1019 non-null   int64
 15  target_overs     1019 non-null   float64
 16  super_over       1019 non-null   object
 17  method           1019 non-null   object
 18  umpire1          1019 non-null   object
 19  umpire2          1019 non-null   object
dtypes: float64(1), int64(3), object(16)
memory usage: 159.3+ KB

In [8]:
df.describe()

                 id  result_margin  target_runs  target_overs
count  1.019000e+03    1019.000000  1019.000000   1019.000000
mean   8.684095e+05      16.979392   164.027478     19.760746
std    3.530975e+05      21.733621    32.225495      1.564372
min    3.359820e+05       0.000000    43.000000      5.000000
25%    5.483135e+05       5.000000   145.000000     20.000000
50%    8.298150e+05       8.000000   165.000000     20.000000
75%    1.216504e+06      19.000000   185.000000     20.000000
max    1.370353e+06     146.000000   264.000000     20.000000

In [10]:
df.iloc[0,0]

np.int64(335982)